// Default parameters
params {
    input_text = "Hello from VWB subworkflow test"
    outdir     = "results"
    max_cpus   = 4
    max_memory = "8.GB"
    max_time   = "2.h"
    debug_mode = false
}

profiles {
    'google-batch' {
        process.executor = 'google-batch'
        google.region    = 'us-central1'
        google.project   = env('GOOGLE_CLOUD_PROJECT')

        google.batch.serviceAccountEmail = env('GOOGLE_SERVICE_ACCOUNT_EMAIL')
        google.batch.usePrivateAddress   = true
    }
}

// Process defaults
process {
    cpus   = params.max_cpus
    memory = params.max_memory
    time   = params.max_time
}
